@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.editProduct {
  padding: 0px;
  width: 1900px;
  height: 1000px;
  font-family: 'Roboto', sans-serif;
}

.editorPanel {
  position: fixed;
  right: 24px;
  width: 320px;
  bottom: 50vh;
  color: white;
  padding: 16px;
  font-family: 'Roboto', sans-serif;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */

}

.editorSectionTitle {
  font-size: larger;
  text-transform: uppercase;
}

.editorSectionValue {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 24px;
}

.itemLabel {
  font-size: 12px;
  color: #acacac;
  transition: .4s color;
}

.item {
  transition: .4s opacity;
}

.item:hover {
  opacity: 0.8;
  cursor: pointer;
}

.item.item--active .itemLabel {
  color: white;
}

.editor__section__title {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: larger;
}

.editor__section__values {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px 0;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s;
}

.item:hover {
  cursor: pointer;
  opacity: 0.9;
}

.item__dot {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: solid 2px #999999;
}

.item.item--active .item__dot {
  border: solid 2px white;
}

.item__label {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: #aaa;
  text-transform: capitalize;
}
.item.item--active .item__label {
  color: white;
}

.editor {
  position: fixed;
  left: 50px;
  bottom: 15vh;
  width: 360px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
